* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}
body {
  background-color: rgb(15 23 42);
}
.tablaTexto {
  color: white;
  height: auto;
}

.item {
  width: 97%;
  margin: 0 auto;
}

h1 {
  color: white;
}

.itemp {
  word-wrap: break-word;
}

summary {
  list-style: none; /* Quita la decoración de la lista */
}


[draggable=true] {
  cursor: pointer;

}
.prueba:hover{
  border: 1px solid white;
}

.pruebita:active{
  background-color: #2980b9;
}
